<!--The content below is only a placeholder and can be replaced.-->




    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="#">Hospital Management</a>
        </div>
        <ul class="nav navbar-nav">
         
          <li routerLinkActive="active"><a routerLink="./home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li routerLinkActive="active"><a routerLink="./about"> <span class="glyphicon glyphicon-eye-open"></span> About</a></li>
          <li routerLinkActive="active"><a routerLink="./contact"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a></li>
  
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" >Services
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="./all-apps">Get all appointetments</a></li>
              <li> <a routerLink="#">Edit My self</a></li>
              <li><a routerLink="./view-all-pat">Patient Appointments</a></li>
              <li><a routerLink="./view-all-pat">Update Appointment</a></li>
  
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a><span class="glyphicon glyphicon-user"></span> {{un}}(Doctor)</a></li>    
          <li class="active"><a (click)="signout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>      </ul>
      </div>
    </nav>
  


