<div class="text-center">
    <h1><i>Doctor Form</i></h1>
</div>
<hr>
{{doctorForm.value | json}}
<form class="inline-form" [formGroup]="doctorForm">
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4
    col-lg-4 col-lg-offset-4 col-xs-4 col-xs-offset-4 styling" >
        <!-- firstname of the customer    -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                <div class="from-group">
                    <label for="">First Name</label>
                    <input type="text" class="form-control" placeholder="FirstName" formControlName="firstName" required>
                </div>
            </div>
        </div>
        <!--   Lastname of the customer -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                <div class="from-group">
                    <label for="">Last Name</label>
                    <input type="text" class="form-control" placeholder="LastName" formControlName="lastName" required>
                </div>
            </div>
        </div>

        <!--        Password -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                <div class="from-group">
                    <label for="">Create Password</label>
                    <input type="password" class="form-control" placeholder="password" formControlName="password"required>
                </div>
            </div>
        </div>
          <!--    Phone number -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                <div class="from-group">
                    <label for="">Phone number</label>
                    <input type="text" class="form-control" placeholder="phoneNumber" formControlName="phoneNumber" maxlength="10" minlength="10" required>
                </div>
            </div>
        </div>
         <!--    Email -->
         <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                <div class="from-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" placeholder="example@emial.com" formControlName="email">
                </div>
            </div>
        </div>
        <!--    Specialist in disese -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                <div class="from-group">
                <label for="blg-grp">Specialist In</label>&nbsp;
                <div>
                    <select  class="form-control inputstl">
                    <option>akjd</option>
                    <option>duhfkjsdhf</option>
                </select>
                  </div>
                </div>
            </div>
        </div>
       
      
        <!-- date of birth  -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                <div class="from-group">
                    <label for="">Date of birth</label>
                    <input type="date" class="form-control" placeholder="dob" formControlName="dob" required>
                </div>
            </div>
        </div>
        <!--    AGE -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                <div class="from-group">
                    <label for="">Age</label>
                    <input type="number" class="form-control" placeholder="Age" max="100" min="5" formControlName="age" required>
                </div>
            </div>
        </div>
        <!--    Experience   -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                <div class="from-group">
                    <label for="">Experience</label>
                    <input type="number" class="form-control" placeholder="Experience" formControlName="exp" max="100" min="0" required>
                </div>
            </div>
        </div>
         <!--        Gender -->
         <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                <label for="male">Gender</label>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="male" value="M"  formControlName="gender" required>
                    <label class="custom-control-label" for="male">&nbsp;MALE</label>&nbsp;
                    <input type="radio" class="custom-control-input" id="female" value="F" formControlName="gender">
                    <label class="custom-control-label" for="female">&nbsp;FEMALE</label>
                </div>

            </div>
        </div>
        <!--    Address -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                <div class="from-group">
                    <label for="ads">Address</label><br>
                   <textarea  id="ads" cols="56" rows="3" formControlName="address"></textarea>
                </div>
            </div>
        </div>
        <!--    REMARKS         -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                <div class="from-group">
                    <label for="remark">Remarks</label><br>
                    <input type="text" formControlName="remark"  >
                </div>
            </div>
        </div>
        <!--    Certificate -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                    <label for="crt">Upload Certificate</label>
                   <input type="file">
            </div>
        </div>
       
        <!--   buttons submit and reset -->
        <br>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                <button class="btn btn-primary" [disabled]="doctorForm.invalid" (click)="submit()">Signup</button>&nbsp;
                <button class="btn btn-danger" type="reset">Cancel</button>
            </div>
        </div>
    </div>
</form>