<div class="row">
    <div class="text-left">
        <a class="btn btn-primary" routerLink="../home" >Back</a>
    </div>
    <h3 class="text-center" style="color: green;" *ngIf="chk">Record Added Succesfully</h3>
    <div class="text-center">
        <h1><i>ADDING TEST TO THE CENTER</i></h1>
    </div>
    <hr>
    
    <div class="text-center">
        <div *ngIf="testForm.invalid" style="color: red;">Please fillout All the fields</div>
    </div>
    <form class="inline-form" [formGroup]="testForm">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4
        col-lg-4 col-lg-offset-4 col-xs-4 col-xs-offset-4 styling" >
            <!-- firstname of the customer    -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                    <div class="from-group" [ngClass]="{'has-error': name && name.invalid && name.touched}">
                        <label for="name">Test Name</label>
                        <input type="text" class="form-control" placeholder="Test Name" formControlName="testName" required>
                    </div>
                </div>
            </div>
            <!--   Lastname of the customer -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                    <div class="from-group" [ngClass]="{'has-error': price && price.invalid && price.touched}">
                        <label for="price">Test Price</label>
                        <input type="text" class="form-control" placeholder="Test Price" formControlName="testPrice" required>
                    </div>
                </div>
            </div>
    
            <!--        valueword -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                    <div class="from-group" [ngClass]="{'has-error': value && value.invalid && value.touched}">
                        <label for="">Normal Value</label>
                        <input type="text" class="form-control" placeholder="Normal value" formControlName="normalValue" required>
                    </div>
                </div>
            </div>
              <!--    unit number -->
              <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                    <div class="from-group" [ngClass]="{'has-error': unit && unit.invalid && unit.touched}">
                        <label for="unitNumber">Unit</label>
                        <input type="text" class="form-control" placeholder="Units" formControlName="unit" required>
                      
                    </div>
                </div>
            </div>
             <!--    Eunit -->
             <!-- <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                    <div class="from-group" [ngClass]="{'has-error': unit && unit.invalid && unit.touched}">
                        <label for="">Available in centers</label>
                        <input type="eunit" class="form-control" placeholder="Units" formControlName="eunit" required>
                        
                    </div>
                </div>
            </div>            -->
            <!--   buttons submit and reset -->
            <br>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12">
                    <button class="btn btn-primary" [disabled]="testForm.invalid" (click)="submit()">ADD</button>&nbsp;
                    <button class="btn btn-danger" type="reset">Cancel</button>
                </div>
            </div>
        </div>
    </form>
    </div>
    <br>
    <br>