<app-header></app-header>
<div class="body">
<h1 class="text-center" style="color: green;"> <b>Hospital Management System</b></h1>
<hr>
<marquee behavior="alternate" direction="right" style="color: red;">* This is all about the hospital management system *</marquee>
<div class="styling">
<p class="styling2"><b>DAHANAVANTHARI HOSPITAL MANAGEMENT SYSTEM</b> system is a computer system that helps manage the information
     related to health care and aids in the job completion of health care providers effectively.
     They manage the data related to all departments of healthcare such as,</p>
     <p>Hospital administrators are individuals or groups of people who act as the
          central point of control within hospitals. These individuals may be previous or 
          current clinicians, or individuals with other healthcare backgrounds. 
          There are two types of administrators, generalists and specialists. 
          Generalists are individuals who are responsible for managing or helping
           to manage an entire facility. Specialists are individuals who are responsible
            for the efficient and effective operations of a specific department such as 
            policy analysis, finance, accounting, budgeting, human resources, or marketing.</p>
    <p align-text="justify">
        Deployment
Such self-treatments according to evolutionary medicine are deployed to increase an 
individual’s biological fitness.

Two factors affect their deployment.

First, it is usually advantageous to deploy them on a precautionary basis. As a result,
 it will often turn out that they have been deployed apparently unnecessarily, though this has in fact been advantageous since in probabilistic terms they have
 provided an insurance against a potentially costly outcome. As Nesse notes:
  "Vomiting, for example, may cost only a few hundred calories and a few minutes,
   whereas not vomiting may result in a 5% chance of death" .

Second, self-treatments are costly both in using energy, 
and also in their risk of damaging the body.

Immunity – energy for activating lymphocyte and antibody production,
 and in the risk of an immune response resulting in an immune related disorder.
Fever – energy (each 1 °C raise in blood temperature increases energy expenditure
 by 10–15%. 90% of the total cost of fighting pneumonia goes on increased body temperature.
  There is also the risk of hyperpyrexia.
Sickness behavior  restricted ability by an animal to forage and defend itself
Nausea – loss of food nutrients, and potential risk of aspiration
Morning sickness loss of food nutrients when a mother needs additional, not less, nourishment
Hypoferremia  impairment in biological processes needing iron resulting in iron 
deficiency anemia
Depression  impaired activity and problem solving.
Pain – restricted movement and the inability to concentrate
One factor in deployment is low level physiological control b
y proinflammatory cytokines such as IL-1 triggered by bacterial lipopolysaccharides (LPS).

Another is higher level control in which the brain takes into account what 
it learns about circumstances and how that makes it well and ill. Conditioning shows the existence of such learnt control: give saccharin paired in a drink with a drug that creates immunosuppression, 
and later on, giving saccharin alone will produce immunosuppression. 
Such conditioning happens both in experimental rodents and humans.
    </p>
     <p>Competencies
        NCHL competencies that require to engage with credibility, 
        creativity, and motivation in complex and dynamic health care environments.
        <ul>
            <li> Accountability</li>
            <li> Achievement orientation</li>
            <li>Change leadership</li>
            <li>Collaboration</li>
            <li>Communication skills</li>
            <li>Financial Skills</li>
            <li>Impact and influence</li>
            <li>Innovative thinking</li>
            <li>Organizational awareness</li>
            <li> Professionalism</li>
            <li>Self-confidence</li>
            <li> Team leadership</li>
            <li>Talent development</li>
            <li>Strategic orientation</li>
        </ul>
 
       
    </div>
    <br>
    <br>
</div>
    <app-footer></app-footer>