<div class="row">

</div>
<div class="row">
    <div class="col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1
                col-sm-3 col-sm-offset-1 col-xs-3 col-xs-offset-1">
            
            <button class="btn btn-primary" (click)="appointment()">Create An Appointment</button>
       
                

    </div>
    <div class="col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1
                col-sm-3 col-sm-offset-1 col-xs-3 col-xs-offset-1">
                <a href="#">
                    <svg width="400" height="180">
                        <rect x="0" y="27" rx="50" ry="50" width="200" height="100"
                        style="fill:red;stroke:black;stroke-width:5;opacity:1" />
                        <text fill="#ffffff" font-size="15" font-family="Verdana" x="50" y="86">My Profile</text>
                      </svg>
                </a>
    </div>
    <div class="col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1
                col-sm-3 col-sm-offset-1 col-xs-3 col-xs-offset-1">
                <a href="#">
                    <svg width="400" height="180">
                        <rect x="40" y="27" rx="50" ry="50" width="200" height="100"
                        style="fill:red;stroke:black;stroke-width:5;opacity:1" />
                        <text fill="#ffffff" font-size="15" font-family="Verdana" x="50" y="86">View All appointment</text>
                      </svg>
                </a>
    </div>
</div>

    <!-- <ng-template *ngIf="checker">
        <h1>skdjhfksdbmhs,hbkjbvjhbv,jhbjvhb</h1>
        
        <app-create-appointment></app-create-appointment>
    </ng-template> -->
