<div class="text-left">
    <a class="btn btn-primary" routerLink="../home" >Back</a>
</div>
<h1 class="text-center">Doctor Services</h1>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
        <h3>Enter Id to Find</h3>
        <input type="text" #num class="form-control"><br>
        <button (click)="findDoctorById(num.value)" class="btn btn-primary">FIND</button>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
        <h3>Enter name to Find</h3>
        <input type="text" #num1 class="form-control"><br>
        <button (click)="findDoctorByName(num1.value)" class="btn btn-primary">FIND</button>
    </div>
    
</div>
<!-- <h3>Enter Id to Find</h3>
<div class="col-offset-4 col-md-4 col-lg-4 col-sm-4 col-xs-4">
 <input type="text" #num class="form-control"><br>
</div> -->


<hr>


<table class="table table-stripped table-bordered table-hovered styling" border="1">
    <tr>
        <th>id</th>
        <th>firstName</th>
        <th>Last Name</th>
        <th>Designation</th>
        <th>Gender</th>
        <th>PhoneNumber</th>
        <th>Email</th>
        <th>salary</th>
        <th>age</th>
        <th>Address</th>
        <th>Date Of Birth</th>
        <th>password</th>
        <th>Created date</th>
    </tr>
    <tr *ngIf="chk">
        <td>{{resDoc.id}}</td>
        <td><b>{{resDoc.firstName}}</b></td>
        <td><b>{{resDoc.lastName}}</b></td>
        <td><i>{{resDoc.designation}}</i></td>
        <td>{{resDoc.gender}}</td>
        <td>{{resDoc.phone}}</td>
        <td>{{resDoc.email}}</td>
        <td>{{resDoc.salary}}</td>
        <td>{{resDoc.age}}</td>
        <td>{{resDoc.address}}</td>
        <td>{{resDoc.dob}}</td>
        <td>{{resDoc.password}}</td>
        <td>{{resDoc.createdDate}}</td>
    </tr>
</table>