<app-header></app-header>
<div class="head">

    <img src="../../../../../assets/Images/HospitalLogo.png" alt="logo.jpg" height="75px" width="75px">

    <h2>Dhanvantari Hospital</h2>

 </div>

<header>

    <div class="heading">

        <h1><u>About Us</u></h1>

   </div>

 </header>

<div class="main-page">



       

       <div class="heading1">

           <p>

               

               <p><strong><span>Dhanvantari hospital </span></strong>  is a health care institution providing patient treatment with specialized health science and auxiliary healthcare staff and medical equipment.The best-known type of hospital is the general hospital, which typically has an emergency department to treat urgent health problems ranging from fire and accident victims to a sudden illness. A hospital typically consist of many beds for intensive care and additional beds for patients who need long-term care.  </p>

                <p>            

               <span>A Dhanvantari hospital </span> combines assistance to people with teaching to health science students and auxiliary healthcare students. A health  science facility smaller than a hospital is generally called a clinic. Hospitals have a range of departments (e.g. surgery and urgent care) and specialist units such as cardiology. Some hospitals have outpatient departments and some have chronic treatment units. Common support units include a pharmacy, pathology, and radiology.<br>

               <span>A Dhanvantari hospital </span>They are one of the well-known Hospitals in India. Backed with a vision to offer the best in patient care and equipped with technologically advanced healthcare facilities, they are one of the upcoming names in the healthcare industry. Located in , this hospital is easily accessible by various means of transport. This hospital is also located at  Times. A team of well-trained medical staff, non-medical staff and experienced clinical technicians work round-the-clock to offer various services .  A team of doctors on board, including specialists are equipped with the knowledge and expertise for handling various types of medical cases.

            </p>

       

         

       </div>

   <div class="main">

       <img src="../../../../../assets/Images/about.jpg">

   </div>

</div>
<br>
<app-footer></app-footer>