<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      <strong class="navbar-brand">Hospital Management</strong>
      </div>
      <ul class="nav navbar-nav">
        <li ><a routerLink="../home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a routerLink="../about"> <span class="glyphicon glyphicon-eye-open"></span> About</a></li>
        <li><a routerLink="../contact"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       
        <li class="active"><a routerLink="../login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>