<div class="head">
    <img src="/src/Images/hospital.jpg" alt="hospital.jpg" >
    <h2 class="text-center">Dhanvantari Hospital</h2>
 </div>
 <p>
    Bombay Hospital & Medical Research Centre
    Address:
    12, Vitthaldas Thackersey Marg, New Marine Lines, Mumbai, Maharashtra 400020
    
     </p>
    <p>

    Telephone No.: +91-22-22067676, 40511111
    Fax No.: +91-22-22080871
</p>
     
<p>
    Email id – Enquiries: helpdesk@bombayhospital.com
    Suggestions: suggest@bombayhospital.com
    For Foreign Nationals: marketing@bombayhospital.com
 </p>
 <form th:action="@{/home}" th:object="${contact}">
    <div class="background">
        <div class="container">
          <div class="screen">
            <div class="screen-header">
              <div class="screen-header-left">
                <div class="screen-header-button close"></div>
                <div class="screen-header-button maximize"></div>
                <div class="screen-header-button minimize"></div>
              </div>
              <div class="screen-header-right">
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
              </div>
            </div>
            <div class="screen-body">
              <div class="screen-body-item left">
                <div class="app-title">
                  <span>CONTACT</span>
                  <span>US</span>
                </div>
                <div class="app-contact"></div>
              </div>
              <div class="screen-body-item">
                <div class="app-form">
                  <div class="app-form-group">
                   <label >Name  :  Zensar</label>
                  </div>
                  <div class="app-form-group">
                    <label >Email  :  abcd@gmail.com</label>
                  </div>
                  <div class="app-form-group">
                    <label >ContactNo  :  123456789</label>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
