
body{
    background-image: url("./Images/young-handsome-physician-medical-robe-with-stethoscope.jpg");

    background-size: cover;
    overflow-x: hidden;
}
footer{
    background-color: black;
    color: white;
    position: absolute;
}